<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 注意：每个标签必须按顺序写，不然蛋疼的DTD会提示错误：The content of element type "configuration" must match "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,mappers?)". -->  
	<!-- 引用db.properties配置文件 -->
  <!--   <properties resource="db.properties"/> -->
	<typeAliases>
		<typeAlias type="com.jony.java.model.UserVO" alias="userVO"/>
	</typeAliases>
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			配置数据库连接信息
			<dataSource type="POOLED">
				 value属性值引用db.properties配置文件中配置的值
                <property name="driver" value="${jdbc.driverClassName}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	 -->
	 <mappers>
         <mapper resource="com/jony/java/model/user-sql-map.xml"/>
         <mapper resource="com/jony/java/model/tcpDetail-sql-map.xml"/>
     </mappers>
	
</configuration>